
<h3 style="margin-left: 20px">{{ModTitle}}</h3>

<div class="row">
    <div class="col-md-12">
        <!-- START panel-->
        <div class="panel " >
            <div class="panel-body" ng-repeat="menus in checkedMenus" >
                <h3 class="panel-title" style="padding-bottom: 20px;font-family:'微软雅黑'">{{menus.menuName}}</h3>
                <button  ng-click="menu.checked = !menu.checked;oksubMenu(menu.menuId)"  ng-class="{true:'btn-warning',false:'btn-default'}[menu.checked]"  ng-repeat="menu in menus.childmenuEntity" type="button" class="mb-sm btn btn-default ">{{menu.menuName}}</button>
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>

<div class="panel-footer text-center">
    <button ng-click="okrolerMenu()" class="btn btn-info">确定</button>
    <button ng-click="cancel()" type="submit" class="btn btn-info">取消</button>
</div>