<style>
    form{
        font-family: 微软雅黑;
    }

</style>
<h3>填写听课表单</h3>
<div class="row">
    <div class=" row">
        <div class="col-md-10 col-sm-6 col-xs-6"></div>
        <button ng-click="goback()" type="button" class="col-md-1 col-sm-3 col-xs-3 mb-sm btn btn-primary" >返回上一步</button>
        <div class="col-md-1  col-sm-3 col-xs-3"></div>
    </div>
    <div class="row" style="padding-left: 30px;padding-right: 30px">
        <form class="panel" >
            <uib-tabset justified="true">
                <uib-tab >
                    <uib-tab-heading>我的计划</uib-tab-heading>
                    <div class="row" style="text-align: center">
                    <span class="col-sm-2 col-xs-6"  style="padding-top: 6px;">请选择查询周次</span>
                   <select  style="width:auto;"  ng-model="scheWeek" ng-change="openTimed()" ng-options="week.weekid as week.weekname for week in lectureWeeks" class="form-control col-sm-3 col-xs-6 " >
                        <option value="">请选择周次</option>
                    </select>
                        <div class="colsm-1"></div>
                        <div  class="col-sm-1 col-xs-6">
                            <button ng-click="addSche()" type="button" class="mb-sm btn btn-primary ">添加听课计划</button>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;margin-top: 20px">
                        <div class="col-md-4">
                            <div  ng-click="teaScore()" class="panel widget" style="box-shadow: 5px 5px 5px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 120px">
                                        <div class="col-xs-4 bg-danger-light text-center" style="font-size: 160%">
                                          许丽花
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0">轻量级框架技术</h4>
                                                <p class="mb0 text-muted">上课班级：软件1511班</p>
                                                <p class="mb0 text-muted">听课时间：2017-5-13</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div  class="panel widget" style="box-shadow: 5px 5px 5px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 120px">
                                        <div class="col-xs-4 bg-danger-light text-center" style="font-size: 160%">
                                            许丽花
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0">轻量级框架技术</h4>
                                                <p class="mb0 text-muted">上课班级：软件1511班</p>
                                                <p class="mb0 text-muted">听课时间：2017-5-13</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div  class="panel widget" style="box-shadow: 5px 5px 5px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 120px">
                                        <div class="col-xs-4 bg-danger-light text-center" style="font-size: 160%">
                                            许丽花
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0">轻量级框架技术</h4>
                                                <p class="mb0 text-muted">上课班级：软件1511班</p>
                                                <p class="mb0 text-muted">听课时间：2017-5-13</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div  class="panel widget" style="box-shadow: 5px 5px 5px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 120px">
                                        <div class="col-xs-4 bg-danger-light text-center" style="font-size: 160%">
                                            许丽花
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0">轻量级框架技术</h4>
                                                <p class="mb0 text-muted">上课班级：软件1511班</p>
                                                <p class="mb0 text-muted">听课时间：2017-5-13</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div  class="panel widget" style="box-shadow: 5px 5px 5px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 120px">
                                        <div class="col-xs-4 bg-danger-light text-center" style="font-size: 160%">
                                            许丽花
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0">轻量级框架技术</h4>
                                                <p class="mb0 text-muted">上课班级：软件1511班</p>
                                                <p class="mb0 text-muted">听课时间：2017-5-13</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div  class="panel widget" style="box-shadow: 5px 5px 5px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 120px">
                                        <div class="col-xs-4 bg-danger-light text-center" style="font-size: 160%">
                                            许丽花
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0">轻量级框架技术</h4>
                                                <p class="mb0 text-muted">上课班级：软件1511班</p>
                                                <p class="mb0 text-muted">听课时间：2017-5-13</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div  class="panel widget" style="box-shadow: 5px 5px 5px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 120px">
                                        <div class="col-xs-4 bg-danger-light text-center" style="font-size: 160%">
                                            许丽花
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0">轻量级框架技术</h4>
                                                <p class="mb0 text-muted">上课班级：软件1511班</p>
                                                <p class="mb0 text-muted">听课时间：2017-5-13</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>我关注的教师</uib-tab-heading>

                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>全部教学任务</uib-tab-heading>

                </uib-tab>
            </uib-tabset>
        </form>
    </div>
</div>