<style>
    form{
        font-family: 微软雅黑;
    }
    .pop{
        background-color: red;
    }

</style>
<h3>填写听课表单</h3>
<div class="row">
    <div class=" row">
        <div class="col-md-10 col-sm-6 col-xs-6"></div>
        <div class="col-md-1 col-sm-3 col-xs-3">
            <button ng-click="goback()" type="button" class=" mb-sm btn btn-primary" >返回上一步</button>
        </div>
        <div class="col-md-1  col-sm-3 col-xs-3"></div>
    </div>
    <div class="row" style="padding-left: 30px;padding-right: 30px">
        <form class="panel" >
            <uib-tabset justified="true">
                <uib-tab >
                    <uib-tab-heading>我的计划</uib-tab-heading>
                    <div class="row" style="text-align: center">
                    <span class="col-sm-2 col-xs-6"  style="padding-top: 6px;">请选择查询周次</span>
                   <select  style="width:auto;" ng-change="openTimed()" ng-model="$parent.$parent.scheWeek"  class="form-control col-sm-3 col-xs-6 " >
                        <option value="">请选择周次</option>
                       <option ng-repeat="week in lectureWeeks" value="{{week.weekid}}">{{week.weekname}}</option>
                    </select>
                        <div class="colsm-1"></div>
                        <div  class="col-sm-1 col-xs-6">
                            <button ng-click="addSche()" type="button" class="mb-sm btn btn-primary ">添加听课计划</button>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;margin-top: 20px">
                        <div class="col-md-4" ng-repeat="plan in tkjhPlan">
                            <div  ng-click="teaScore(plan.courseType,plan.taskNo,plan.courseName,plan.teacherName)" class="panel widget" style="box-shadow: 1px 1px 1px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 120px">
                                        <div class="col-xs-4 bg-success-light text-center" style="font-size: 160%">
                                          {{plan.teacherName}}
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0"> {{plan.courseName}}</h4>
                                                <p class="mb0 text-muted">上课班级： {{plan.className}}</p>
                                                <p class="mb0 text-muted">听课时间：{{plan.planTime}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>我关注的教师</uib-tab-heading>
                    <div>
                        <button ng-repeat="teacher in caredteachers" ng-click="chooseCaredTeacher(teacher.id,teacher.name);teacher.checked=!teacher.checked" data-ng-class="{'true':'btn-primary'}[teacher.checked]" type="button" class="btn btn-oval ">{{teacher.name}}</button>
                    </div>
                    <div class="row" style="text-align: center;margin-top: 20px">
                        <div class="col-md-4" ng-repeat=" course in caredteacherCourse">
                            <div  ng-click="teaScore(course.courseType,course.taskNo,course.courseName,course.teacherName)" class="panel widget" style="box-shadow: 1px 1px 1px #888888;">
                                <div class="portlet-handler">
                                    <div class="row row-table row-flush" style="height: 150px">
                                        <div class="col-xs-4 bg-success-light text-center" style="font-size: 160%">
                                            {{course.teacherName}}
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="panel-body text-center">
                                                <h4 class="mt0">{{course.courseName}}</h4>
                                                <p ng-repeat="section in course.sectionses" class="mb0 text-muted">{{section.scheSet}}--{{section.scheAddr}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>全部教学任务</uib-tab-heading>
                    <div ng-controller="lecturesformController">
                        <div class="row" >
                            <div class="col-md-1 col-sm-2 col-xs-5" data-ng-if="teacherString==0">
                                <button ng-click="searchTeacher()" type="button" class="mb-sm btn btn-primary">按教师姓名查询</button>
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-5" style="left: 30px" data-ng-if="dayString==0">
                                <button ng-click="searchDay()" type="button" class="mb-sm btn btn-success">按工作日查询</button>
                            </div>
                            <div class="col-md-4 col-sm-2 col-xs-5" style="left: 50px"data-ng-if="dayString==0&&teacherString==1">
                                <div class="row" >
                                    <div class="col-md-7">
                                        <ui-select   ng-model="$parent.$parent.selectedTeacher" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="输入教师姓名">{{$select.selected.teacherName}} &lt;{{$select.selected.teacherNo}}&gt;</ui-select-match>
                                            <ui-select-choices style="width: 180%"  repeat="person in people | propsFilter: {teacherName: $select.search, teacherNo: $select.search}  "
                                                               refresh="refreshTeachers($select.search)">
                                                <div ng-bind-html="person.teacherName | highlight: $select.search"></div>
                                                <small>工号: {{person.teacherNo}}  学院：{{person.depName}}</small>
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                    <div class="col-md-5">
                                        <button ng-click="searchTeacherCourse()" type="button" class="mb-sm btn btn-primary">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-2 col-xs-5" style="left: 30px" data-ng-if="teacherString==0&&dayString==1" >
                                <button ng-click="searchweekDay('K1',0,6)" type="button" class="btn btn-square btn-default">周一</button>
                                <button ng-click="searchweekDay('K2',0,6)" type="button" class="btn btn-square btn-default">周二</button>
                                <button ng-click="searchweekDay('K3',0,6)" type="button" class="btn btn-square btn-default">周三</button>
                                <button ng-click="searchweekDay('K4',0,6)" type="button" class="btn btn-square btn-default">周四</button>
                                <button ng-click="searchweekDay('K5',0,6)" type="button" class="btn btn-square btn-default">周五</button>
                                <button ng-click="searchweekDay('K6',0,6)" type="button" class="btn btn-square btn-default">周六</button>
                                <button ng-click="searchweekDay('K7',0,6)" type="button" class="btn btn-square btn-default">周日</button>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;margin-top: 20px" >
                            <div class="col-md-4" ng-repeat="course in searchteacherCourse">
                                <div  ng-click="teaScore(course.courseType,course.taskNo,course.courseName,course.teacherName)" class="panel widget" style="box-shadow: 1px 1px 1px #888888;">
                                    <div class="portlet-handler">
                                        <div class="row row-table row-flush" style="height: 150px">
                                            <div class="col-xs-4 bg-success-light text-center" style="font-size: 160%">
                                                {{course.teacherName}}
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="panel-body text-center">
                                                    <h4 class="mt0">{{course.courseName}}</h4>
                                                    <p ng-repeat="section in course.sectionses" class="mb0 text-muted">{{section.scheSet}}&#45;&#45;{{section.scheAddr}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-repeat="course in pageteacherCourse.content" >
                                <div  ng-click="teaScore(course.taskNo,course.courseName,course.teacherName)" class="panel widget" style="box-shadow: 1px 1px 1px #888888;">
                                    <div class="portlet-handler">
                                        <div class="row row-table row-flush" style="height: 150px">
                                            <div class="col-xs-4 bg-success-light text-center" style="font-size: 160%">
                                                {{course.teacherName}}
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="panel-body text-center">
                                                    <h4 class="mt0">{{course.courseName}}</h4>
                                                    <p ng-repeat="section in course.sectionses" class="mb0 text-muted">{{section.scheSet}}--{{section.scheAddr}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 " data-ng-if="pageteacherCourse&&pageteacherCourse.length!=0">
                        <nav aria-label="Page navigation" style="float: right" >
                            <ul class="pagination pagination-sm" style="float: right">
                                <li ng-disabled="courseArrays.first" ng-click="loadData(pageteacherCourse.number-1,pageteacherCourse.size)"><a href="javascript:void(0)">上一页</a></li>
                                <li><a href="javascript:void(0)">{{pageteacherCourse.number+1}}/{{pageteacherCourse.totalPages}}</a></li>
                                <li ng-disabled="courseArrays.last" ng-click="loadData(pageteacherCourse.number+1,pageteacherCourse.size)"><a href="javascript:void(0)">下一页</a></li>
                            </ul>
                        </nav>
                        </div>
                    </div>

                </uib-tab>
            </uib-tabset>
        </form>
    </div>
</div>