<h3>督学听课计划</h3>
<div class="row">
    <div class="col-md-1 col-sm-2 col-xs-5">
        <button ng-click="changeSche(0)" type="button" class="mb-sm btn btn-primary">查看听课计划</button>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-5" style="left: 30px" >
        <button ng-click="changeSche(1)" type="button" class="mb-sm btn btn-success">制定听课计划</button>
    </div>
    <div class="col-md-8 col-sm-3 col-xs-2"></div>
    <div class="col-md-1 col-sm-3 col-xs-2">
        <button ng-click="goBack()" type="button" class=" mb-sm btn btn-primary" >返回上一步</button>
    </div>
</div>
<div class="row" style="margin-top: 20px" data-ng-if="changeStatus==0">
    <div class="col-md-4">
        <div class="panel panel-green">
            <div class="panel-heading portlet-handler" style="font-size: 140%">许丽花</div>
            <div class="panel-body" style="font-size: 120%">
                <p>
                    课程名：《轻量级框架技术》
                </p>
                <p>
                    班   级：    软件1511
                </p>
                <p>
                    计划时间：2017-05-05【第12周】
                </p>
                <p style="float: right">
                    2017-05-02
                </p>
            </div>
            <div class="panel-footer">距离该计划还有 1 天！
                <div style="float: right;margin-top: -6px">
                    <button ng-click="addSche()" title="编辑" class="btn btn-sm btn-info">
                        <em class="fa fa-pencil"></em>
                    </button>
                    <button ng-click="deleteSche($index)"  title="删除" class="btn btn-sm btn-danger">
                        <em class="fa fa-trash"></em>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div  class="panel panel-green">
            <div class="panel-heading portlet-handler"  style="font-size: 140%">许丽花</div>
            <div class="panel-body"  style="font-size: 120%">
                <p>
                    课程名：《轻量级框架技术》
                </p>
                <p>
                    班   级：    软件1511
                </p>
                <p>
                    计划时间：2017-05-05【第12周】
                </p>
                <p style="float: right">
                    2017-05-02
                </p>
            </div>
            <div class="panel-footer">距离该计划还有 1 天！
                <div style="float: right;margin-top: -6px">
                    <button ng-click="addSche()" title="编辑" class="btn btn-sm btn-info">
                        <em class="fa fa-pencil"></em>
                    </button>
                    <button  title="删除" class="btn btn-sm btn-danger">
                        <em class="fa fa-trash"></em>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div  class="panel panel-green">
            <div class="panel-heading portlet-handler"  style="font-size: 140%">许丽花</div>
            <div class="panel-body"  style="font-size: 120%">
                <p>
                    课程名：《轻量级框架技术》
                </p>
                <p>
                    班   级：    软件1511
                </p>
                <p>
                    计划时间：2017-05-05【第12周】
                </p>
                <p style="float: right">
                    2017-05-02
                </p>
            </div>
            <div class="panel-footer">距离该计划还有 1 天！
                <div style="float: right;margin-top: -6px">
                    <button  ng-click="addSche()" title="编辑" class="btn btn-sm btn-info">
                        <em class="fa fa-pencil"></em>
                    </button>
                    <button  title="删除" class="btn btn-sm btn-danger">
                        <em class="fa fa-trash"></em>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" data-ng-if="changeStatus==1">
    <table class="table table-bordered table-hover bg-white" style="margin-left: 30px;width: 90%;margin-top: 20px">
        <tr style="font-weight: bold">
            <td style="width:10%">学期</td>
            <td style="width:10%">教工号</td>
            <td style="width:10%">教师姓名</td>
            <td style="width:10%">查看教学任务</td>
        </tr>
        <tr >
            <td>
                <!-- editable username (text with validation)-->
                <span  >20161</span>
            </td>
            <td>
                <!-- editable status (select-local)-->
                <span >2000100193</span>
            </td>
            <td>
                <!-- editable group (select-remote)-->
                <span >许丽花</span>
            </td>
            <td style="white-space: nowrap">
                    <button ng-click="searchTask()" title="查看" class="btn btn-sm btn-info">
                        <em class="fa fa-search"></em>
                    </button>
            </td>
        </tr>
    </table>
</div>