<h3>督学听课计划</h3>
<div class="row">
    <div class="col-md-1 col-sm-2 col-xs-5">
        <button ng-click="changeSche(0)" type="button" class="mb-sm btn btn-primary">查看听课计划</button>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-5" style="left: 30px" >
        <button ng-click="changeSche(1)" type="button" class="mb-sm btn btn-success">制定听课计划</button>
    </div>
    <div class="col-md-8 col-sm-3 col-xs-2"></div>
    <div class="col-md-1 col-sm-3 col-xs-2">
        <button ng-click="goBack()" type="button" class=" mb-sm btn btn-primary" >返回上一步</button>
    </div>
</div>
<div class="row" style="margin-top: 20px" data-ng-if="changeStatus==0">
    <div class="col-md-4" ng-repeat="tkjhplan in tkjhAllPlan" data-ng-if="tkjhplan.day>=0">
        <div class="panel panel-green">
            <div class="panel-heading portlet-handler" style="font-size: 140%">{{tkjhplan.teacherName}}</div>
            <div class="panel-body" style="font-size: 120%">
                <p>
                    课程名：《{{tkjhplan.courseName}}》
                </p>
                <p>
                    班   级：    {{tkjhplan.className}}
                </p>
                <p>
                    计划时间：{{tkjhplan.planTime}}【第{{tkjhplan.planWeek}}周】
                </p>
                <p style="float: right">
                    {{tkjhplan.setTime}}
                </p>
            </div>
            <div class="panel-footer">距离该计划还有<span style="font-weight:bold;font-size: 20px ">{{tkjhplan.day}}</span> 天！
                <div style="float: right;margin-top: -1px">
                    <button ng-click="addSche(tkjhplan.planNo,tkjhplan.teacherName,tkjhplan.courseName,tkjhplan.className)" title="编辑" class="btn btn-sm btn-info">
                        <em class="fa fa-pencil"></em>
                    </button>
                    <button ng-click="deleteSche($index,tkjhplan.planNo)"  title="删除" class="btn btn-sm btn-danger">
                        <em class="fa fa-trash"></em>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" data-ng-if="changeStatus==1">
    <table class="table table-bordered table-hover bg-white" style="margin-left: 30px;width: 90%;margin-top: 20px;text-align: center">
        <tr style="font-weight: bold">
            <td style="width:10%">学期</td>
            <td style="width:10%">教工号</td>
            <td style="width:10%">教师姓名</td>
            <td style="width:10%">查看教学任务</td>
        </tr>
        <tr ng-repeat="teacher in teacherlist">
            <td>
                <!-- editable username (text with validation)-->
                <span  >{{teacher.termName}}</span>
            </td>
            <td>
                <!-- editable status (select-local)-->
                <span >{{teacher.teacherNo}}</span>
            </td>
            <td>
                <!-- editable group (select-remote)-->
                <span >{{teacher.teacherName}}</span>
            </td>
            <td style="white-space: nowrap">
                    <button ng-click="searchTask(teacher.teacherNo)" title="查看" class="btn btn-sm btn-info">
                        <em class="fa fa-search"></em>
                    </button>
            </td>
        </tr>
    </table>
</div>