<style>
    .panel-heading{
        font-family: 微软雅黑;
        font-weight: bold;
        font-size: 150%;!important;
    }
    .panel-body{
        height: 130px;
        font-size: 18px;
    }
</style>
<h3>督学听课</h3>
<div class="row" style="padding-bottom: 20px">
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-3 col-sm-4">
            <!-- START panel-->
            <div id="panelDemo8" class="panel panel-primary" ng-click="form()">
                <div class="panel-heading" style="font-size: 150%">填写听课表单
                    <span style="float: right;font-size: 30px" class="fa fa-calendar"></span>
                </div>
                <div class="panel-body">
                    <p>尊敬的<span style="font-weight: bold">胡光永</span>督学<br>
                        点击可以立即填写哦！
                    </p>                </div>
            </div>
            <!-- END panel-->
        </div>
        <div class="col-lg-3 col-sm-4">
            <!-- START panel-->
            <div id="panelDemo9" class="panel panel-success"  ng-click="arranged()">
                <div class="panel-heading"style="font-size: 150%">制定听课计划
                    <span style="float: right;font-size: 30px" class="fa fa-pencil-square-o"></span>
                </div>
                <div class="panel-body">
      <p>
    最新计划:2017-05-02<br>
    您打算在第<span style="font-weight: bold">12</span>周听<span style="font-weight: bold">许丽花</span>老师的轻量级框架技术课！
      </p>
                </div>
            </div>
            <!-- END panel-->
        </div>
        <div class="col-lg-3 col-sm-2"></div>
    </div>
    <!-- END row-->
    <!-- START row-->
    <div class="row" >
        <div class="col-lg-2 "></div>
        <div class="col-lg-3 col-sm-4">
            <!-- START panel-->
            <div id="panelDemo10" class="panel panel-info" ng-click="careteachers()">
                <div class="panel-heading" style="font-size: 150%">我关注的教师
                    <span style="float: right;font-size: 30px" class="fa fa-group"></span>
                </div>
                <div class="panel-body">
                    <p>
                        关注时间:2017-05-02<br>
                        您最近关注了--<span style="font-weight: bold">许丽花</span>老师 , 赶紧去听课吧！
                    </p>
                </div>
            </div>
            <!-- END panel-->
        </div>
        <div class="col-lg-3 col-sm-4">
            <!-- START panel-->
            <div id="panelDemo11" class="panel panel-warning" ng-click="record()">
                <div class="panel-heading" style="font-size: 150%">听课记录
                    <span style="float: right;font-size: 30px" class="fa fa-book"></span>
                </div>
                <div class="panel-body">
                    <p>暂时还没有去听其他老师课哦！赶紧听课吧！
                    </p>
                </div>

            </div>
            <!-- END panel-->
        </div>
        <div class="col-lg-3 col-sm-4">
            <!-- START panel-->
            <div id="panelDemo12" class="panel panel-danger" ng-click="mychat()">
                <div class="panel-heading" style="font-size: 150%">我的常用语
                    <span style="float: right;font-size: 30px" class="fa fa-comments-o"></span>
                </div>
                <div class="panel-body">
                    <p>
                    点击可以进行常用语设置哦!
                  </p>
                </div>
            </div>
            <!-- END panel-->
        </div>
        <div class="col-md-1"></div>
    </div>
</div>