<h3>满意度调查</h3>

<fieldset>
    <div class="form-group">
        <label style="font-size: 20px" class="col-sm-3 control-label">本专业课程教学满意度调查:</label>
        <div class="col-sm-6" style="margin-top: 5px">
            <label class="radio-inline c-radio">
                <input type="radio" name="stuSurvey1" ng-model="stuSurvey1.surveyResult" value="满意" checked="checked" />
                <span class="fa fa-smile-o"></span>满意</label>
            <label class="radio-inline c-radio">
                <input type="radio" name="stuSurvey1" ng-model="stuSurvey1.surveyResult" value="基本满意" checked="checked" />
                <span class="fa fa-meh-o"></span>基本满意</label>
            <label class="radio-inline c-radio">
                <input type="radio" name="stuSurvey1" ng-model="stuSurvey1.surveyResult" value="不满意" checked="checked" />
                <span class="fa fa-frown-o"></span>不满意</label>
            <br/>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label style="font-size: 20px" class="col-sm-3 control-label">专业课程设置满意度调查:</label>
        <div class="col-sm-6" style="margin-top: 5px">
            <label class="radio-inline c-radio">
                <input type="radio" name="stuSurvey2" ng-model="stuSurvey2.surveyResult" value="满意" checked="checked" />
                <span class="fa fa-smile-o"></span>满意</label>
            <label class="radio-inline c-radio">
                <input type="radio" name="stuSurvey2" ng-model="stuSurvey2.surveyResult" value="基本满意" checked="checked" />
                <span class="fa fa-meh-o"></span>基本满意</label>
            <label class="radio-inline c-radio">
                <input type="radio" name="stuSurvey2" ng-model="stuSurvey2.surveyResult" value="不满意" checked="checked" />
                <span class="fa fa-frown-o"></span>不满意</label>
            <br/>
        </div>
        <div class="col-sm-3">
            <button type="button" ng-click="modifySatisfaction()" class="btn btn-labeled btn-info">
               <span class="btn-label"><i class="fa fa-check"></i>
               </span>提交</button>
        </div>
    </div>
</fieldset>