<h3>菜单设置</h3>
<div class="box-placeholder row" >
    <h4 class="page-header">菜单详细信息</h4>
    <div  class="container-fluid">
        <table class="table table-bordered table-hover bg-white">
            <tr style="font-weight: bold">
                <td style="width:10%">编号</td>
                <td style="width:20%">菜单名称</td>
                <td style="width:15%">类型</td>
                <td style="width:15%">父类编码</td>
                <td style="width:10%">菜单内容</td>
                <td style="width:10%">菜单属性</td>
                <td style="width:10%">状态</td>
                <td style="width:30%">编辑</td>
            </tr>
            <tr ng-repeat="user in users track by $index">
                <td>
                    <!-- editable username (text with validation)-->
                    <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="table.checkName($data, user.id)" e-required="">{{ user.name || &apos;empty&apos; }}</span>
                </td>
                <td>
                    <!-- editable status (select-local)-->
                    <span editable-select="user.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in table.statuses">{{ table.showStatus(user) }}</span>
                </td>
                <td>
                    <!-- editable group (select-remote)-->
                    <span editable-select="user.group" e-name="group" onshow="table.loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in table.groups">{{ table.showGroup(user) }}</span>
                </td>
                <td>
                    <!-- editable username (text with validation)-->
                    <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="table.checkName($data, user.id)" e-required="">{{ user.name || &apos;empty&apos; }}</span>
                </td>
                <td>
                    <!-- editable username (text with validation)-->
                    <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="table.checkName($data, user.id)" e-required="">{{ user.name || &apos;empty&apos; }}</span>
                </td>
                <td>
                    <!-- editable username (text with validation)-->
                    <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="table.checkName($data, user.id)" e-required="">{{ user.name || &apos;empty&apos; }}</span>
                </td>
                <td style="text-align: center">
                    <label class="switch">
                        <input type="checkbox" />
                        <span></span>
                    </label>
                </td>
                <td style="white-space: nowrap">
                    <!-- form-->
                    <form editable-form="" name="rowform" onbeforesave="saveMenu($data, user.id)" ng-show="rowform.$visible" shown="table.inserted == user" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform.$waiting" title="保存" class="btn btn-sm btn-info">
                            <em class="fa fa-save"></em>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="取消" class="btn btn-sm btn-default">
                            <em class="fa fa-times"></em>
                        </button>
                    </form>
                    <div ng-show="!rowform.$visible" class="buttons">
                        <button ng-click="rowform.$show()" title="编辑" class="btn btn-sm btn-info">
                            <em class="fa fa-pencil"></em>
                        </button>
                        <button ng-click="removeMenu($index)" title="删除菜单" class="btn btn-sm btn-danger">
                            <em class="fa fa-trash"></em>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
        <button ng-click="addMenu()" class="btn btn-success">增加菜单</button>
    </div>
</div>
