<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="margin-left: 20px">新增教职工</h3>
<div style="text-align: center">
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">教工编号</label>
            <div class="col-sm-6">
                <input type="text" required="" name="tagsinput" tagsinput="tagsinput" ng-model="tagsinput" class="form-control" />
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">教师姓名</label>
            <div class="col-sm-6">
                <input type="text" required="" name="tagsinput" tagsinput="tagsinput" ng-model="tagsinput" class="form-control" />
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">教工职称</label>
            <div class="col-sm-6">
                <input type="text" required="" name="tagsinput" tagsinput="tagsinput" ng-model="tagsinput" class="form-control" />
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">所属部门</label>
            <div class="col-sm-6">
                <select name="select" required="" ng-model="select" class="form-control">
                    <option value="">计算机与软件</option>
                    <option value="1">能源与电气</option>
                    <option value="2">机械工程</option>
                    <option value="3">国际教育</option>
                    <option value="4">文理学院</option>
                </select>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">教工类别</label>
            <div class="col-sm-6">
                <select name="select" required="" ng-model="select" class="form-control">
                    <option value="">校内职工</option>
                    <option value="1">外聘</option>
                </select>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
</div>
<div class="panel-footer text-center">
    <button type="submit" class="btn btn-info">确定</button>
    <button ng-click="cancel()" type="submit" class="btn btn-info">取消</button>
</div>
</body>
</html>