<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="margin-left: 20px">新增教职工</h3>
<div style="text-align: center">
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">教工编号</label>
            <div class="col-sm-6">
                <input type="text" required="" name="tagsinput" tagsinput="tagsinput" ng-model="teacher.teacherNo" class="form-control" />
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">教师姓名</label>
            <div class="col-sm-6">
                <input type="text" required="" name="tagsinput" tagsinput="tagsinput" ng-model="teacher.teacherName" class="form-control" />
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">教工职称</label>
            <div class="col-sm-6">
                <input type="text" required="" name="tagsinput" tagsinput="tagsinput" ng-model="teacher.teacherTitle" class="form-control" />
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">所属部门</label>
            <div class="col-sm-6">
                <select style="width:auto;float:left;" class="form-control" data-toggle="dropdown" ng-model="teacher.depNo">
                    <option ng-repeat="department in departments" value="{{department.depNo}}">{{department.depName}}</option>
                </select>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">教工类别</label>
            <div class="col-sm-6">
                <select name="select" required="" ng-model="teacher.teacherType" class="form-control">
                    <option value="校内教师">校内教师</option>
                    <option value="外聘">外聘</option>
                </select>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </fieldset>
</div>
<div class="panel-footer text-center">
    <button type="submit" class="btn btn-info" ng-click="save(teacher)">确定</button>
    <button ng-click="cancel()" type="submit" class="btn btn-info">取消</button>
</div>
</body>
</html>